@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto';
}
h1, h2 {
    color: #27aedb;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.slider{
    width: 100%;
    color: gold;
}
#header{
    display: inline-block;
    position: sticky;
    top: 0px;
    text-align: justify;
    background: rgba(255, 255, 255, 0.489);
    transition: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition-property: background, margin, padding;
    transition-duration: 2s;
}
#header:hover{
    margin: 10px;
    padding: 10px;
    background: black;
}
p {
    color: black;
    text-align: center;
}
.textHeader {
    padding: 10px;
    border: 12px solid rgb(72, 0, 0);
    margin: 10%;
    height: 100%;
}